01_data_collection/data/Trimmed_reads/
01_data_collection/data/Bartender/
01_data_collection/data/Processed_data/
01_data_collection/log/
01_data_collection/data/Merging/
02_data_cleaning_and_QC/data/
03_bootstrapping/data/